<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Login OTP</title>
</head>

<body style="font-family: 'Lucida Grande'; padding: 15px 5vw; color: #f5f5f5; background-color: #151515;">

    <div style="text-align: center; padding: 20px 0;">
        <img src="https://firebasestorage.googleapis.com/v0/b/sk-portfolio-website.appspot.com/o/portfolio-fevicon.png?alt=media&token=97dbef9b-1ba1-482d-97cb-8b4aa5dddecf"
            style="width: 75px;">
    </div>
    <h4>Hello <%= firstName %>
            <%= lastName %>,
    </h4>
    <p>Received a request for admin session login, Here is your One Time Password (OTP),</p>
    <p
        style="font-family: 'Times New Roman', Times, serif; margin: 50px 0; font-size: xx-large; text-align: center; font-weight: bold;">
        <%= otp %>
    </p>

    <p>
        PS: If this isn't you, please do not share this OTP to anyone</p>

</body>

</html>